<!-- views/partials/footer.ejs -->
<footer class="footer">
    <div class="container">
      <p>&copy; <%= new Date().getFullYear() %> RafMarq. Todos los derechos reservados.</p>
    </div>
  </footer>