<!-- views/partials/header.ejs -->
<div id="header-admin">
<header class="header">
    <div class="container">
      <a href="/views/index.ejs" class="logo">
        <img src="/images/Logo RafMarq 0.15.png" alt="RafMarq Logo" width="120" height="auto">
        <h1>|| Admin Panel</h1>
      </a>
      <nav>
        <ul>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>

        <div class="header_button">
            <button class="btn">
                <b>Logout</b>
            </button>
        </div>
      </nav>
    </div>
  </header>
</div> 