<!-- views/partials/header.ejs -->
<header class="header">
    <div class="container">
      <a href="/" class="logo">
        <img src="/images/Logo RafMarq 0.15.png" alt="RafMarq Logo" width="120" height="auto">
      </a>
      <nav>
        <ul>
          <li><a href="/blog" >Blog</a></li>
          <li><a href="/contacto" >Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>