<h1 class="contact-view">Contacto</h1>
<h2>Yandri Márquez</h2>

<div class="contact-info">
    <h2>Correo Electrónico</h2>
    <h3 class="correo"> yandrymarquezloorcuenca@hotmail.com</h3>
</div>

<div class="contact-info">
    <h2>Número de Contacto</h2>
    <h3>593 96 066 2445</h3>
</div>
