<!-- views/partials/index.ejs -->
<main>
    <section class="hero bg-gradient">
      <div class="container">
        <img src="/images/Logo RafMarq 0.13 (1).png" alt="RafMarq Logo" class="hero-logo" width="600" height="auto">
        <h1>Bienvenido a RafMarq</h1>
        <p>Transformamos ideas en realidad. En RafMarq, nos especializamos en crear soluciones innovadoras que impulsan el éxito de tu negocio. Con nuestra experiencia y dedicación, llevamos tus proyectos al siguiente nivel.</p>
        <a href="#" class="btn">Descubre Más</a>
      </div>
    </section>
  
    <section class="blog">
      <div class="container">
        <h2>Últimos Trabajos</h2>
        <div class="blog-grid">

            <article class="blog-card">
              <img src="" alt="">
              <h3></h3>
              <p class="date"></p>
              <p></p>
            </article>

        </div>
      </div>
    </section>
  </main>